# Ignore Visual Studio files
MyWinFormsApp/.vs/
MyWinFormsApp/*.vscode/
MyWinFormsApp/*.sln
MyWinFormsApp/*.suo
MyWinFormsApp/*.user
MyWinFormsApp/*.userprefs
MyWinFormsApp/*.pidb
MyWinFormsApp/*.ipch/
MyWinFormsApp/*.obj/
MyWinFormsApp/*.pdb
MyWinFormsApp/*.cache/
MyWinFormsApp/*.dll
MyWinFormsApp/*.exe
MyWinFormsApp/*.bin
MyWinFormsApp/*.bak
MyWinFormsApp/*.log
MyWinFormsApp/*.vspscc
MyWinFormsApp/*.vssscc
MyWinFormsApp/*_i.c
MyWinFormsApp/*_p.c
MyWinFormsApp/*.ilk
MyWinFormsApp/*.meta
MyWinFormsApp/*.msi
MyWinFormsApp/*.zip
MyWinFormsApp/*.rar
MyWinFormsApp/*.7z
MyWinFormsApp/*.gz
MyWinFormsApp/*.bzip
MyWinFormsApp/*.png
MyWinFormsApp/*.jpg
MyWinFormsApp/*.jpeg
MyWinFormsApp/*.gif
MyWinFormsApp/*.tiff
MyWinFormsApp/*.ico
MyWinFormsApp/*.json
MyWinFormsApp/*.xml
MyWinFormsApp/*.csproj.user
MyWinFormsApp/*.resharper
MyWinFormsApp/*.resharper.user
MyWinFormsApp/*.suo
MyWinFormsApp/*.cache
MyWinFormsApp/*.nupkg
MyWinFormsApp/*.snk
MyWinFormsApp/*.bak
MyWinFormsApp/*_backup
MyWinFormsApp/*.bak[0-9]*
